<header>
    <img id="logo" src="images/">
    <h1 id="motto">Self Help App Should Help Anyone</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="login.html">Chat</a></li>
        </ul>
    </nav>
</header>