<!DOCTYPE html>
<html lang ="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S.H.A.S.H.A</title>
        <link href="css/main.css" rel="stylesheet">
        <script src="js/main.js"></script>
    </head>

    <body>
        <div class="main-container">

            <header>
                <img id="logo" src="images/">
                <h1 id="motto">Self Help App Should Help Anyone</h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login.html">Chat</a></li>                        
                    </ul>
                </nav>
            </header>

            <main>
                <!-- add content at a later time-->
                <!-- some sort of quote generator? -->
            </main>

        </div>
    </body>
</html>