<!DOCTYPE html>
<!--
	
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>S.H.A.S.H.A | McDonnell & Pham</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/et-lineicon.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700' rel='stylesheet'
    type='text/css'>
  <!--[if IE]>
        	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  <!-- JAVASCRIPTS -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.lwtCountdown-1.0.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/animated.js"></script>
  <script src="js/main.js"></script>
</head>

<body>

  <div class="main-container">
    {{> header }}

    {{{ body }}}

    {{> footer }}
  </div>

</body>

</html>