<main>
    <h1 id="title">Welcome to S.H.A.S.H.A</h1>
    <!-- HOME -->
    <section>
        <h1>Home</h1>
        <h2>{{message}}</h2>
        <div>

        </div>
    </section>
    <!-- ABOUT -->
    <section>
        <h1>About</h1>
        <div>

        </div>
    </section>
    <!-- CONTACT -->
    <section>
        <h1>Contact</h1>
        <div>

        </div>
    </section>
    <!-- LOGIN -->
    <section>
        <h1>Login</h1>
        <div>

        </div>
    </section>
</main>

</div>

</body>